





/*====================extension===============================*/

.extension {
    width: 100%;
    padding: 0px 0 34px 0;
    background: #00b596;
    border-bottom: 1px solid #333;
    height: 400px;
    overflow: hidden;
}

.img1,
.img2,
.img3 {
    padding: 0 60px;
    box-sizing: border-box;
    cursor: pointer;
}


.extension .container{
    height: inherit;
}

.extension .row p {
    color: #fff;
    text-align: left;
    margin-top: 10px;
}

.extension .swiper-container p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 0 10%;
    font-size: 16px;
}

.img4 {
    margin-bottom: 70px;
    padding-top: 20px;
    color: #fff;
    font-weight: 300;
}




/*==============================公司动态==========================================*/

.news {
    padding-top: 90px;
    padding-bottom: 110px;
    background: #f4f5f9;
}

.news:after {
    content: '';
    display: block;
    clear: both;
}

.news-title {
    width: 170px;
    margin: auto;
    text-align: center;
}

.col-sm-4 {
    position: relative;
}

.news-row{
    margin-top: 20px;
}
.new-boxs{
    width:218px;
    height: 198px;
    border: 1px solid #d2d2d2;
    margin: auto;
    cursor: pointer;
    background: #ffffff;
    margin-top: 10px;
}
.new-content{
    text-align: center;
    height: 40px;
    width: 218px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    color: #e2e2e2;

}
.modal-body img{
    display: block;
    margin:10px auto;
    width: 80%;

}

.new-box img{
    height: 198px;
}
a.news-btn{
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin:40px auto 0;
    border: 1px solid #666666;
    border-radius: 20px;
    cursor: pointer;
    color: #666666;
    text-decoration: none;
}






/*=======================公司介绍=============================*/

.indo {
    width: 100%;
    position: relative;
    height: 500px
}

.indo-container ul{

    height: 500px;
    margin: 0;
    padding:0;
}
.indo-container ul li{
    float: left;
    width: 10%;
    overflow: hidden;
    height: 500px;
    transition:width 0.2s ease-out;
}

.indo-container ul li.big{
    width: 90%;
}

.slide-01{
    background: url(../images/bg2.jpg);
}

.slide-02{
    background:url(../images/bg3.jpg);
}
.indo-content{
    padding:0 20px;
    height: 100%;
}
.indo-content .title2 {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

.indo-content .title2,
.indo-content p {
    color: #fff;
}

.indo-content p {
    font-size: 16px;
    text-indent: 2em;
}





/*=======================团队管理=============================*/

.team {
    padding-top: 50px;
    padding-bottom: 30px;
}

.team:after {
    content: '';
    display: block;
    clear: both;
}

.team-content {
    position: relative;
}

.team-swiper {
    margin-top: -170px;
    opacity: 0;
}

.team-title h2,
.team-title h4 {
    color: #333;
}

.team-title-line {
    width: 260px;
    border-bottom: 2px solid #333;
}

.team ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

.team ul li {
    width: 25%;
    float: left;
    padding: 0 10px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #e2e2e2;
}

.name-msg {
    font-size: 16px;
}

.ul-content {
    padding: 0 60px;
    text-align: center;
}

.team-ul-line {
    width: 24px;
    border-bottom: 2px solid #00b596;
    margin: auto;
}


